#mouse-scroll {
  margin-top: 4rem;
  transform: translateX(-50%);
  opacity: 0.7;
}

#mouse-scroll span {
  display: block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-right: 2px solid #124265;
  border-bottom: 2px solid #124265;
  margin: 0 0 3px 5px;
}

#mouse-scroll .mouse {
  height: 30px;
  width: 20px;
  border-radius: 10px;
  transform: none;
  border: 2px solid #124265;
  top: 170px;
}

#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}

#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
  animation: mouse-scroll 1s infinite;
}

#mouse-scroll .down-arrow-1 {
  animation-delay: 0.1s;
  animation-direction: alternate;
}

#mouse-scroll .down-arrow-2 {
  animation-delay: 0.2s;
  animation-direction: alternate;
}

#mouse-scroll .down-arrow-3 {
  animation-delay: 0.3s;
  animation-direction: alternate;
}

#mouse-scroll .mouse-in {
  height: 5px;
  width: 3px;
  display: block;
  margin: 12px auto;
  background: #124265;
  position: relative;
  animation: animated-mouse 1.2s ease infinite;
}

@keyframes animated-mouse {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
